<form class="searchField">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">Pesquisar</label>
      <div class="input-group mb-2">
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Pesquisar" ng-model="searchFieldValue" ng-change="onChangeSearch()">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-search" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>